<h2>Editing Family Member</h2>

<%= form_for(@family_member, :url => family_family_member_url(@current_family, @family_member)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', family_family_member_path(@current_family, @family_member) %> |
<%= link_to 'Back', family_family_members_path(@current_family, @family_member) %>