<h2>Family Members</h2>

<table id="family_members_table">
  <tr class="align-left">
    <th>Name</th>
  </tr>

<% @family_members.each do |family_member| %>
  <tr>
    <td class="name"><%=h family_member.name %></td>
    <td class="controls"><%= link_to 'Show', family_family_member_path(@current_family, family_member) %></td>
    <td class="controls"><%= link_to 'Edit', edit_family_family_member_path(@current_family, family_member) %></td>
    <td class="controls"><%= link_to 'Destroy', family_family_member_path(@current_family, family_member), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Family Member', new_family_family_member_path(@current_family) %><br />
<%= link_to 'The Board', root_url %>