<h2>New Family Member</h2>

<%= form_for(@family_member, :url => family_family_members_url(@current_family)) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', family_family_members_path(@current_family) %>