<p>
  <b>Name:</b>
  <%=h @family_member.name %>
</p>

<p>
  <b>Family:</b>
  <%=h @family_member.family_id %>
</p>

<p>
  <b>Login:</b>
  <%=h @family_member.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @family_member.email %>
</p>

<p>
  <b>Crypted password:</b>
  <%=h @family_member.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%=h @family_member.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%=h @family_member.persistence_token %>
</p>

<p>
  <b>Login count:</b>
  <%=h @family_member.login_count %>
</p>

<p>
  <b>Failed login count:</b>
  <%=h @family_member.failed_login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @family_member.last_request_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @family_member.current_login_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @family_member.last_login_at %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @family_member.current_login_ip %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @family_member.last_login_ip %>
</p>


<%= link_to 'Edit', edit_family_member_path(@family_member) %> |
<%= link_to 'Back', family_members_path %>