<h1>Edit My Family's Account</h1>

<%= form_for @family, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Family Profile", account_path %>