<p>
  <b>Login:</b>
  <%=h @family.login %>
</p>

<p>
  <b>Login count:</b>
  <%=h @family.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @family.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @family.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @family.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @family.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @family.current_login_ip %>
</p>


<%= link_to 'Edit', edit_account_path %>