<h2 class="home_index_title">The Board
<% if @admin %>
  <span>- Admin View</span>
<% end %></h2>
<p><%= @week_start.strftime('%A %B %d %Y') %> - <%= @week_end.strftime('%A %B %d %Y') %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<span class="manage_links">
<% if @admin %>
  <%= link_to "Manage Chores", family_chores_url(@current_family) %>
  &nbsp;
  <%= link_to "Manage Family Members", family_family_members_url(@current_family) %>
  &nbsp;
  <a href="#" id="save">Save Changes</a>
<% end %>
</span>
</p>


<%# THE BOARD %>

<% if @admin %>
<%= form_tag :action => params[:action] %>
<% end %>

<table id="board">

<!-- CHORES ACROSS THE TOP -->
<tr>
  <th>&nbsp;</th>
  <% @chores.each do |ch| %>
  <th><%=h ch.name %></th>
  <% end %>
</tr>

<% @family_members.each do |fm| %>
  <tr>
  <td class="fm_name"><%=h fm.name %></td>
  <% @chores.each do |ch| %>
    <td>
      <% if @admin %>        <%# ADMIN VIEW %>
          
          <%# ASSIGNED?  %>
          <% cfm = ChoresFamilyMember.get(ch, fm, @week) %>
          <% is_assigned = !cfm.nil? %>
          <div class="assigned">
          &nbsp;Assigned
          <%= radio_button_tag "chore_assigned[chore#{ch.id}_fm#{fm.id}]", 1, is_assigned, :id => "chore_assigned[chore#{ch.id}_fm#{fm.id}]_yes" %>
          <label for="<%= "chore_assigned[chore#{ch.id}_fm#{fm.id}]_yes" %>">Yes</label>
          <%= radio_button_tag "chore_assigned[chore#{ch.id}_fm#{fm.id}]", 0, !is_assigned, :id => "chore_assigned[chore#{ch.id}_fm#{fm.id}]_no" %>
          <label for="<%= "chore_assigned[chore#{ch.id}_fm#{fm.id}]_no" %>">No</label>
          </div> 
         
         <%# THE DAYS WILL BE HIDDEN OR VISIBLE BASED ON WHETHER THE CHORE IS ASSIGNED %>
         <% div_class = "weekday_buttons" %>
         <% div_class += !is_assigned ? " no_display" : "" %>
          
          <%# top row days %>
          <div class="<%= div_class %>">
            &nbsp;Days<br />
            <% for index in 0..3 %>
            <% day = @days[index] %>
            <% check_box_status = cfm.nil? ? false : cfm.days.include?(day) %>
            <%= check_box_tag "chore_day_assignment[chore#{ch.id}_fm#{fm.id}][day#{day.day_of_week}]", 1, check_box_status %>
            <%= label_tag "chore_day_assignment[chore#{ch.id}_fm#{fm.id}][day#{day.day_of_week}]", day.abbreviation %>
            <% end %>
          </div>
          <%# bottom row days and select all deselect all button %>
          <div class="<%= div_class %>">
            <% for index in 4..6 %>
            <% day = @days[index] %>
            <% check_box_status = cfm.nil? ? false : cfm.days.include?(day) %>
            <%= check_box_tag "chore_day_assignment[chore#{ch.id}_fm#{fm.id}][day#{day.day_of_week}]", 1, check_box_status %>
            <%= label_tag "chore_day_assignment[chore#{ch.id}_fm#{fm.id}][day#{day.day_of_week}]", day.abbreviation %>
            <% end %>
            <button class="select_all_none">All</button>
          </div>
      <% else %>        <%#  NON-ADMIN VIEW %>
      
      <% end %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>

<%  if @admin %>
<%= submit_tag "Save Changes" %>
</form>
<% end %>

<% content_for :content_for_head do %>
<% javascript_tag do %>

$(document).ready(function() {
  
  <% if @admin %>
  // setup checkboxes to be day checkboxes
  $('.weekday_buttons').buttonset();
  
  // setup checkboxes for Assigned
  $('.assigned').buttonset();
  
  // setup save and goto normal view link
  $('#save').click(function() {
    
    return false;
  });
  
  // click event for the assigned radio buttons, will bring the days into view
  $('.assigned input').click(function() {
    var first_days_div = $(this).parent().next()
    var second_days_div = first_days_div.next()
    if ($(this).attr('value') == '1') {   // a YES button, show the day select divs
      first_days_div.removeClass('no_display');
      second_days_div.removeClass('no_display');
    } else {  // a NO button, hide the day select divs
      first_days_div.addClass('no_display');
      second_days_div.addClass('no_display');
    }
  });

  // click event for the selector buttons which select or deselect a set of days
  $('.select_all_none').button().click(function() {
    var label_node = $(this).children('span');
    // if current label is 'All', select all other checkboxes, else deselect all other checkboxes
    if (label_node.html() == 'All') {
      check_val = 'checked';
      update_day_checkboxes($(this));
      label_node.html('None');
    } else {
      check_val = '';
      update_day_checkboxes($(this));
      label_node.html('All'); 
    }
    return false;
    <% end %>
    
  });

});

<% if @admin %>
function update_day_checkboxes(select_button) {
  select_button.parent().parent().children('div').children('input[type=checkbox]').attr('checked',check_val).button('refresh');
}
<% end %>

<% end %>
<% end %>
