<h2>Editing Chore</h2>

<% form_for(@chore, :url => edit_family_chore_url(@current_family, @chore)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', family_chore_path(@current_family, @chore) %> |
<%= link_to 'Back', family_chores_path(@current_family) %>