<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Chore Chopper</title>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.2.custom.min' %>
  <%= stylesheet_link_tag 'dark-hive/jquery-ui-1.8.2.custom' %>
  <%= stylesheet_link_tag 'chore_chopper' %>
  <%= yield :content_for_head %>
</head>
<body>
<div id="header">
  	<h2>Chore Chopper</h2>
  	<%= image_tag 'axe.jpeg' %>
</div> 
<div class="colmask leftmenu"> 
    <div class="colright"> 
        <div class="col1wrap"> 
            <div class="col1"> 
                <!-- Column 1 start --> 
                <div id="content">
					
					<% if true == false %> <%# IN LIEU OF A COMMENT OUT BOTH ERB AND HTML AT THE SAME TIME %>
  					<% unless flash[:notice].blank? %>
  					<p class="flash_notice"><%= flash[:notice] %></p>
  					<% end %>
					
  					<% unless flash[:warning].blank? %>
  					<p class="flash_warning"><%= flash[:warning] %></p>
  					<% end %>
					<% end %>
				
				<% # LOGOUT %>
				<% if @current_family %>
				<div id="user_info">
				  <p>Welcome: <%=h @current_family.name %><br />
				  <%= link_to "Logout", '/family_sessions/destroy' , :method => :delete %></p>
				</div>
				<% end %>
				
				<%= yield %>
				
			</div><!-- end content -->
				<!-- Column 1 end --> 
            </div> 
        </div> 
        
        <!-- FOR NOW WE'LL HAVE NO LEFT COLUMN -->
        
        <!--
        <div class="col2"> 
          <ul id="links">
    				<li><a href="#">foo_link</a></li>
    			</ul>
				</div>
				-->
		</div> 
</div> 
<div id="footer"> 
</div>
</body>
</html>